.book2-section {
  margin-top: 5rem;

  &__book {
    text-align: center;
    flex: 0 0 50%;
  }

  &__text {
    padding-top: 3rem;
  }

  @include respond-from('medium') {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &__cover {

    }
  }
}
