.book-section {
    display: flex;
    padding: 8.125rem 0;

    .audioplayer
    {
        width: 20rem;

        @include respond-to(small)
        {
            margin: 1rem 0;
            width: 20rem;
        }
    }
    &__left {
        flex-grow: 1;
        display: flex;
        position: relative;
        justify-content: flex-start;
        z-index: 0;
        align-items: center;
        flex-direction: column;
        &:before {
            content: "";
            min-width: 7.4375rem;
            min-height: 16rem;
            background: url('../images/aboutpage/arrow_1.svg') no-repeat center;
            background-size: contain;
            position: absolute;
            top: -9.375rem;
            left: 15.625rem;
            transform: rotateY(180deg) rotateZ(35deg) scale(0.9);
            z-index: -1;
        }
    }
    &__player {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
    &__right {
        max-width: 30.125rem;
        padding-top: 1.5625rem;
        p.with_round {
            position: relative;
            z-index: 0;
            &:before {
                content: "";
                width: 18.75rem;
                height: 5.625rem;
                background: url('../images/aboutpage/round_second.png') no-repeat center;
                background-size: contain;
                position: absolute;
                top: -14px;
                left: -20px;
                z-index: -1;
            }
        }
    }
    &__next {
        position: relative;
        z-index: 0;
        transform: translateY(8rem);
        &:before {
            content: "";
            width: 12.75rem;
            height: 7.875rem;
            background: url('../images/aboutpage/round_small.png') no-repeat;
            background-size: contain;
            position: absolute;
            top: -2.6875rem;
            left: -2.5rem;
            transform: rotate(12deg);
            z-index: -1;
        }
        &:after {
            content: "";
            min-width: 7.4375rem;
            min-height: 16rem;
            background: url('../images/aboutpage/arrow_1.svg') no-repeat center;
            background-size: contain;
            position: absolute;
            top: -5.625rem;
            left: 0.9375rem;
            transform: rotate(11deg) scale(0.8);
        }
    }
    @include respond-from('FHD'){
        &__book {
            width: 60%;
        }
    }
    @include respond-to('large') {
        &__left {
            &:before {
                left: 50%;
            }
        }
        &__right {
            padding-left: 1.875rem;
        }
    }
    @include respond-to('medium') {
        flex-direction: column;
        padding-top: 5rem;
        &__left {
            padding-bottom: 4rem;

            @include respond-to(small)
            {
                padding-bottom: 2rem;
            }
            &:before {
                top:70%;
                left:calc(50% + 12.5rem);
                transform: scale(0.6);
            }
        }
        &__right {
            margin: 0 auto;
        }
        &__next {
            margin: 0 auto;
            max-width: 10.625rem;
        }
    }
    @include respond-to('small') {
        padding-bottom: 4rem;
        &__left {
            &:before {
                display: none;
            }
        }
        &__right {
            padding-left: 0;
        }
        &__next {
            transform: translateY(3.125rem);
            &:after {
                display: none;
            }
        }
        &__link
        {
            font-size: 0.95rem;
        }
    }
}
