.events-section {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0 7.5rem;
    &__left {
        max-width: 25.3125rem;
        padding-top: 0.625rem;
    }
    &__link {
        display: inline-block;

    }
    &__right {
        max-width: 29.0625rem;
        flex-grow: 1;
    }
    &__video-wrapper {
        position: relative;
        z-index: 0;
        margin-bottom: 2.8125rem;
    }
    &__oval {
        display: none;
        font-size: 26em;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
    }

    &__subtitle {
        position: relative;
        z-index: 1;
    }
    &__dates {
        border-spacing: 0 1em;
    }
    &__date-row {
        // display: flex;
        padding: 0.625rem 0;
    }
    &__date-val {
        min-width: 6.25rem;
        padding-right: 1em;
    }
    @include respond-to('medium') {
        flex-direction: column;
        align-items: center;
        &__right {
            max-width: none;
            width: 100%;
            padding-top: 5rem;
        }
        &__oval {
            font-size: 26em;
        }
    }
    @include respond-to('small') {
        &__oval {
            font-size: 16em;
        }
    }
}
