.first-section
{
    display: flex;

    padding-bottom: 12.5rem;

    justify-content: space-between;

    @include respond-to('small')
    {
        padding-bottom: .625rem;
    }

    @include respond-to('medium')
    {
        flex-direction: column;

        padding-bottom: 3.75rem;
    }

    @include respond-from('medium')
    {
        padding-top: 2.5rem;
    }

    &__figure
    {
        position: relative;

        display: flex;

        min-width: 25rem;
        min-height: 25.625rem;

        justify-content: center;
        align-items: center;

        @include respond-to('small')
        {
            transform: scale(0.8);
        }

        @include respond-to('medium')
        {
            max-width: 25rem;
        }
        .oval-marker
        {
            font-size: 25rem;

            position: absolute;
            top: 0;
            left: 0;

            display: none;

            opacity: 0;
            .loaded &,
            .loaded &::before
            {
                display: block;

                animation-delay: 4s;

                opacity: 1;
            }
        }
        &-img
        {
            z-index: 1;

            margin-top: -1.25rem;

            opacity: 0;

            animation-fill-mode: backwards;

            @include respond-from(FHD)
            {
                width: 35%;
            }
            .loaded &
            {
                animation-name: steps;
                animation-duration: 2s;
                animation-timing-function: linear;

                opacity: 1;
            }
        }
    }

    &__left
    {
        @include respond-to('medium')
        {
            display: flex;

            justify-content: center;
        }
    }

    &__right
    {
        padding-right: 2.5rem;

        @include respond-to('medium')
        {
            padding-right: 0;
        }

        @include respond-from(medium)
        {
            padding-top: 5rem;
        }
    }

    &__content
    {
        line-height: 1.6;
    }

    &__title
    {
        font-size: 4.125rem;
        line-height: 1;

        margin-bottom: 0;

        @include respond-to('small')
        {
            font-size: 3.25rem;
        }

        @include respond-to('medium')
        {
            margin-top: 0;
        }

        .loaded &
        {
            animation-name: rotateInUpLeft;
            animation-duration: 1s;
            animation-delay: 2s;
        }
    }

    p
    {
        .loaded &
        {
            animation-name: fadeInRight;
            animation-duration: 1s;
            animation-delay: 3s;
        }
    }

    &__bottom
    {
        position: relative;
        z-index: 0;

        margin-top: 6.25rem;

        @include respond-to('medium')
        {
            display: none;
        }

        .loaded &
        {
            animation-name: bounceInUp;
            animation-duration: 1s;
            animation-delay: 5s;
        }

        &:before
        {
            position: absolute;
            z-index: -1;
            top: 60%;
            left: 10%;

            min-width: 13.125rem;
            min-height: 7.7875rem;

            content: '';
            transform: translate(-50%, -50%);

            background: url('../images/aboutpage/round_small.png') no-repeat;
            background-size: contain;
        }

        &:after
        {
            position: absolute;
            top: 0;
            left: .625rem;

            min-width: 7.4375rem;
            min-height: 16rem;

            content: '';

            background: url('../images/aboutpage/arrow_1.svg') no-repeat center;
            background-size: contain;
        }
    }
}
