.history-section
{
    padding: 10rem 0 3.125rem;

    @include respond-to('small')
    {
        padding-top: 3.75rem;
    }
    &__arrow
    {
        width: 6.25rem;
        height: 12rem;
        margin-left: 30%;

        transform: rotateY(180deg) rotateZ(25deg);

        background: url('../images/aboutpage/arrow_1.svg') no-repeat center;
        background-size: contain;

        @include respond-to('small')
        {
            display: none;
        }
    }
}

.history-slider
{
    position: relative;

    overflow: hidden;

    @include respond-to('small')
    {
        &__slide
        {
            &-left
            {
                width: 60%;
            }
            &-right
            {
                width: 100%;
                padding-left: 0;
            }
        }
    }
    &__slide
    {
        display: flex;

        align-items: center;
        @include respond-to('medium')
        {
            flex-direction: column;

            align-items: center;
        }
        &-left
        {
            display: flex;

            flex-grow: 1;
            align-items: center;
            justify-content: center;
            @include respond-to('medium')
            {
                width: auto;
                img
                {
                    width: auto;
                }
            }
            @include respond-to('large')
            {
                width: 30%;
                img
                {
                    width: 65%;
                }
            }
        }
        &-right
        {
            width: 28rem;
            padding-top: 2.5rem;
            @include respond-to('medium')
            {
                text-align: center;
            }
            @include respond-to('large')
            {
                width: 70%;
                padding-left: 1.25rem;
            }
        }
    }
    &__photo
    {
        display: flex;

        width: 20rem;
        height: 25rem;
        padding-left: 2rem;

        align-items: center;
        justify-content: center;
        img
        {
            min-width: 16rem;
            max-width: 100%;
            min-height: 15rem;
            max-height: 100%;
        }
    }
    &__title
    {
        margin-bottom: 10px;
    }
    &__year
    {
        line-height: 1.4;
    }
    &__content
    {
        width: 73%;

        @include respond-to('medium')
        {
            width: 100%;
        }
    }
    &__pagination
    {
        display: flex;

        margin-top: 1.875rem;

        justify-content: center;
        align-items: center;
        @include respond-to(small)
        {
            margin-top: .5rem;
        }
        .swiper-pagination-bullet
        {
            width: .3125rem;
            height: .3125rem;

            transition: all 230ms ease;

            opacity: 1;
            border-radius: 50%;
            &-active
            {
                width: .625rem;
                height: .625rem;

                border: 1px solid rgba(0,0,0,.5);
                background: transparent;
            }
        }
    }
    .swiper-btn
    {
        position: absolute;
        z-index: 1;
        top: 40%;

        width: 3.3125rem;
        height: 3.3125rem;

        cursor: pointer;

        outline: 0;

        @include respond-to(small)
        {
            width: 2rem;
            height: 2rem;
        }
        &__round
        {
            position: absolute;

            width: 100%;
            height: 100%;

            border: .1875rem solid;
            border-radius: 50%;
            background: url('../images/aboutpage/swiper-arrow.svg') no-repeat center;
            background-size: 80%;
        }
        &__hover
        {
            position: absolute;
            z-index: -1;
            left: -5px;

            width: 4.25rem;
            height: 3.1875rem;

            transition: all 230ms ease;

            background: url('../images/aboutpage/swiper-btn-hover.svg') no-repeat center;
            background-size: contain;
        }
        &_next
        {
            right: 15px;
            .swiper-btn__round
            {
                transform: rotate(180deg);
            }
        }
        &.swiper-button-disabled
        {
            cursor: inherit;

            opacity: .5;
            .swiper-btn__hover
            {
                opacity: 0;
            }
        }
    }
}
