.trust-us {
    display: flex;
    justify-content: space-between;
    padding-top: 4.375rem;
    &__left {
        max-width: 34.0625rem;
        padding-right: 3.75rem;
    }
    &__right {
        min-width: 25.625rem;
        max-width: 410px;
        margin-right: -4.6875rem;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        z-index: 0;
        max-width: 25.625rem;
        &-item {
            height: 4.5rem;
            margin: 1.25rem 1.875rem 3.125rem;
            cursor: pointer;
            transition: transform 230ms ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__icon-wrapper {
        background: url('../images/aboutpage/logo_wrapper.png') no-repeat;
        background-size: contain;
        width: 9.0625rem;
        height: 9.875rem;
        position: absolute;
        z-index: -1;
        transition: all 230ms ease;
        transform: translate( calc(-50% + 2.5rem), calc(-50% + 1.875rem));
        @include retina {
            background-image: url('../images/aboutpage/logo_wrapper@2x.png');
        }
    }
    &__backfeeds {
        position: relative;
        width: 100%;
        min-height: 8.75rem;
    }
    @include respond-to('medium') {
        flex-direction: column;
        &__left {
            max-width: 100%;
            padding-bottom: 5rem;
            padding-right: 0;
        }
        &__right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 100%;
            align-items: center;
        }
    }
    @include respond-to('small') {
        width: 100%;
        &__left {
            padding-bottom: 1rem;
        }
        &__right {
            min-width: auto;
            max-width: 100%;
        }
        &__icon-wrapper {
            width: 6.8625rem;
            height: 7.275rem;
        }
        &__icons {
            padding-bottom: 1.875rem;
            &-item {
                height: 4rem;
                margin: 1.875rem;
            }
        }
    }
    @media screen and (max-width: 430px) {
        &__icons {
            &-item {
                margin: 1.25rem;
            }
        }
    }
    @media screen and (min-width: 1920px) {
        &__icons {
            &-item {
                width: 13%;
            }
        }
    }
    @media screen and (min-width: 3996px) {
        &__icons {
            &-item {
                width: 13%;
                height: 10%;
            }
        }
    }
}



.audio-backfeed {
    display: flex;
    position: absolute;
    transition: opacity 500ms ease;
    width: 100%;
    justify-content: center;

    &__left {
        position: relative;
        flex: 0 0 5rem;
        @include respond-to(small)
        {
            flex: 0 0 3.5rem;
        }
    }

    &__right {
        position: relative;
        flex: 0 0 18rem;

        @include respond-to(small)
        {
            flex: 0 0 13rem;
        }
    }
    &__avatar {
        width: 100%;
    }
    &__right {
        padding-left: 1.25rem;
    }
    &__play {
        border:2px solid;
        width: 1.9375rem;
        height: 1.9375rem;
        border-radius: 50%;
        position: absolute;
        right: -15px;
        top:0;
        background: #fff url('../images/aboutpage/audio-icon.png') no-repeat center;
        background-size: 60%;
    }
    &__content {
        p, h4
        {
            margin: 0.2rem 0;
        }
    }
    &.is_hidden {
        opacity: 0;
        visibility: hidden;
    }
}
