.aboutpage
{
    // fix layout
    .layout__container {
        width: 74.666666%;
        max-width: 60rem;
        @include respond-to('small') {
            width: 100%;
        }
    }

    .layout__body {
        padding-bottom: 0;
    }
}
