.case-detailed
{
    .layout__side_right,
    .layout__side_left
    {
        width: 18%;

        cursor: pointer;
        transition: opacity .5s;

        @include respond-to('medium')
        {
            display: none;
        }
    }

    .layout__side_right
    {
        opacity: 0;
        .next-doc-ready &
        {
            opacity: 1;
        }
    }

    .layout__side_left
    {
        opacity: 0;
        .prev-doc-ready &
        {
            opacity: 1;
        }
    }

    .layout__body
    {
        padding-top: 5rem;
        @include respond-from('medium')
        {
            padding-bottom: 0;
        }
    }

    &__warp
    {
        @include respond-from('medium')
        {
            padding-top: 5rem;
        }
    }

    .stiker
    {
        font-size: .9rem;

        @include respond-from('large')
        {
            font-size: 1rem;
        }

        &__arena
        {
            display: none;
        }
    }

    &__stiker
    {
        text-align: center;

        @include respond-from('medium')
        {
            position: fixed;
            top: 50%;

            width: 18rem;
            height: 18rem;

            transform: translateY(-50%);
        }

        .stiker__link
        {
            display: none;
        }
    }

    &__article
    {
        padding-bottom: 4rem;

        @include respond-from('medium')
        {
            padding-left: 18rem;
        }
        @include respond-from('large')
        {
            padding-left: 20rem;
        }
    }

    &__next
    {
        position: relative;

        text-align: center;

        @include respond-from('medium')
        {
            position: fixed;
            top: 50%;
            left: 100%;

            width: 18rem;
            height: 18rem;

            transform: translate(-25%, -50%);
        }
        @include respond-from('large')
        {
            transform: translate(-50%, -50%);
        }
        @include respond-to('medium')
        {
            .stiker__title
            {
                display: block;

                text-align: center;

                opacity: 1;
            }
        }

        // outline: 5px solid blue;

        .stiker
        {
            transform: translateX(-10rem);

            .next-doc-ready &
            {
                transform: translateX(0);
            }
        }

        &_title
        {
            display: none;

            @include respond-to('medium')
            {
                display: block;

                text-align: center;

                border-top: .1rem solid #ccc;

                &-text
                {
                    padding: 1.5rem 0;
                }

                &-img img
                {
                    width: 1rem;
                }
            }
        }
    }

    &__prev
    {
        display: none;
        // outline: 5px solid green;

        width: 18rem;
        height: 18rem;

        @include respond-from('medium')
        {
            position: fixed;
            top: 50%;
            right: 100%;

            display: block;

            transform: translate(0%, -50%);
        }
        @include respond-from('large')
        {
            position: fixed;
            top: 50%;
            right: 100%;

            display: block;

            transform: translate(25%, -50%);
        }
        .stiker
        {
            transform: translateX(-10rem);

            .prev-doc-ready &
            {
                transform: translateX(0);
            }
        }
    }

    &__next,
    &__prev
    {
        &_btn
        {
            white-space: nowrap;

            @include respond-to('medium')
            {
                display: none;
            }
            &_text
            {
                display: inline-block;

                padding: 0 1em;

                transition: transform .5s, opacity .5s;
                transform: translateY(5em);

                opacity: 0;

                .layout__side:hover &
                {
                    transform: translateY(0);

                    opacity: 1;
                }
            }

            &_icon
            {
                display: inline-block;
            }
        }
    }
}
