.homepage
{
    .layout__container
    {
        @include respond-from(medium)
        {
            width: 85%;
            max-width: 82rem;

            .homepage--cases &
            {
                width: 66.66666666%;
                max-width: 53.375rem;
            }
        }
    }

    &__warp
    {
        display: flex;

        @include respond-to(medium)
        {
            flex-direction: row-reverse;

            transition: transform .5s;
            transform: translateX(100%);
            > *
            {
                width: 100%;

                flex: 0 0 100%;
            }

            .homepage--cases &
            {
                transform: translateX(0%);
            }
        }
    }

    &__article
    {
        opacity: 0;

        animation: fadeIn 1s ease 2s;
        animation-fill-mode: both;

        @include respond-from(medium)
        {
            font-size: .8rem;

            flex: 0 0 30%;

            .homepage--cases &
            {
                animation: outLeft 1s;
            }
        }

        @include respond-from(large)
        {
            font-size: 1rem;
        }

        @include respond-to(medium)
        {

        }

        .homepage--cases &
        {
            opacity: 0;
            transform: translateX(-100%);
            z-index: -1;
        }

        &__text
        {
            padding-bottom: .2rem;

            @include respond-from(medium)
            {
                font-family: 'AvantGardeGothicC-Bold';

                padding-left: .5rem;
            };
        }

        span:before{
            display: none;
            animation: scaleX 0.5s ease 0.5s;
            animation-fill-mode: both;

            .homepage--ready &
            {
                display: block;
            }
        };

    }

    &__cases
    {
        position: relative;
        font-size: .85rem;

        padding: 2rem 0;
        padding-bottom: 0;

        transition: .3s .1s;
        text-align: center;

        .oval-marker
        {
            display: none;
            position: absolute;
            font-size: 45em;
            top: -10%;
            left: 10%;
        }

        @include respond-to(medium)
        {
            transition: opacity .3s .1s;

            opacity: 0;

            .homepage--cases &
            {
                opacity: 1;

                 > *
                {
                    width: 100%;

                    flex: 0 0 100%;
                }
            }
        }

        @include respond-from(small)
        {
            font-size: 1rem;
        }
        @include respond-from(medium)
        {
            font-size: .65rem;

            padding-left: 0;

            flex: 0 0 70%;
        }
        @include respond-from(large)
        {
            font-size: .75rem;
        }

        &__footer
        {
            display: none;

            text-align: left;

            .homepage--cases &
            {
                display: block;
            }

            &_feedback
            {
                font-size: .75rem;

                display: flex;

                margin-top: 2rem;
                padding: 1rem 2rem;

                border-top: 1px solid #eee;
                background: #fff;

                justify-content: space-between;
                align-items: center;
            }
        }


        &__footer
        {
            @include respond-to('medium')
            {
                padding: 4rem 2rem 0 2rem;
            }
        }

        &_show-all
        {
            display: none;
            text-align: center;

            opacity: 0;
            animation: fadeIn 2s 2s;
            animation-fill-mode: both;
        }

        &_end
        {
            display: none;
            text-align: left;

            animation: fadeIn 2s 2s;
            animation-fill-mode: both;

            @include respond-from('medium')
            {
                padding-left: 1.5rem;
            }
        }
    }


    &__case-item
    {
        display: inline-block;
    }

    &__footer
    {
        display: flex;

        height: 100%;

        .homepage--cases &
        {
            display: none;
        }
    }

    &__footer &__mixed
    {
        width: 65%;
    }

    &__mixed
    {
        display: flex;

        padding: 1rem;

        border-top: 1px solid #eee;
        background: #fff;

        justify-content: center;
        align-items: center;
    }

    &__who-is
    {
        display: flex;

        padding: 1rem 1rem 1rem 3rem;

        text-decoration: none;

        color: #000;

        align-items: center;

         > .image
        {
            display: inline-block;

            width: 3.3rem;
            padding-right: 1rem;
        }

         > span
        {
            display: inline-block;
        }
    }


    @include respond-from(medium){
        .stikers-group
        {
            height: 25rem;
            width: 37rem;
        }
    };

    .start-page--open & .stiker:nth-child(2n)
    {
        transform: translate(110%, 0%);
    }

    .start-page--open & .stiker:nth-child(3n)
    {
        transform: translate(220%, 0%);
    }

    .start-page--open & .stiker:nth-child(4n)
    {
        transform: translate(110%, 110%);
    }

    .start-page--open & .stiker:nth-child(5n)
    {
        transform: translate(220%, 110%);
    }

    .start-page--open & .stiker:nth-child(6n)
    {
        transform: translate(0%, 110%);
    }

}
