.temapage {
  margin-top: 5rem;
}


.dorofeevtsi-section {
  @include respond-to('small')
  {
    h1 {
      font-size: 2rem;
    }
  }

  @include respond-to('medium')
  {
    &__list {
      margin-top: 2rem;
    }
  }

  @include respond-from('medium')
  {
    display: flex;

    &__text {
      flex: 0 0 50%;
      padding-right: 20px;
    }
    &__list {
      flex: 0 0 50%;
      padding-left: 20px;
    }
  }
}

.dorofeevtsi-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  &__image {
    position: relative;
    width:  8rem;
    height: 8rem;
    flex: 0 0 8rem;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      width:  70%;
      height: 70%;

      transform: translate(-50%, -50%);

      background: #D1F031;
      border-radius: 10px;
    }
  }

  &__label {
    padding-left: 0.3rem;
  }

  &__h {
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.2;
  }

  @include respond-to('small') {
    &__image {
      width: 5rem;
      height: 5rem;
      flex: 0 0 5rem;
    }

    &__h {
      font-size: 1.1rem;
    }
  }
}


.team {
  $self: &;
  &__list {
    a {
      outline: none;
      &:hover,
      &:focus,
      &:active {
        outline: none;      
      }
    }

    .link  {
      color: #18a0fb;
    }
  }
  
  &__item {
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
    align-items: stretch;


    @include respond-to('medium') {
      flex-direction: column;
      margin-top: 100px;
    }
    @include respond-to('small') {
      margin-top: 70px;
    }
    @include respond-to('xsmall') {
      margin-top: 35px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      #{$self}__block {        
        &:first-child {
          padding-left: 20px;
          @include respond-to('small') {
            padding: 0 10px;
          }
        }
        &:last-child {
          padding-right: 20px;
          @include respond-to('small') {
            padding: 0 10px;
          }
        }
      }
      @include respond-to('medium') {
        flex-direction: column;
      }

      #{$self} {
        &__name {
          &::before {
            left: auto;
            right: -250px;
            width: 203px;
            height: 218px;
            background-image: url('../images/team/arrow-left.png');
          }
        }
      }
    }

  }
  &__block {
    position: relative;
    flex: 0 0 50%;
    
    &:first-child {
      // padding-right: 30px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      @include respond-to('small') {
        flex: 0 0 100%;
        padding: 0 10px;
        width: 100%;
      }
    }

    &:last-child {
      @include respond-to('medium') {
        margin-top: 30px;
        padding: 0 10px;
      }
    }
    @include respond-to('medium') {
      flex: 0 0 100%;
    }
  }
  &__txt {
    margin-top: 35px;
  }
  &__name {
    font-family: 'AvantGardeGothicC-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 12px;
    position: relative;

    @include respond-to('xsmall') {
      font-size: 30px;
    }

    @include respond-to('retina') {
      font-size: 24px;
    }
    

    &::before {
      content: '';
      position: absolute;
      top: -154px;
      left: -180px;
      width: 117px;
      height: 134px;
      background-image: url('../images/team/arrow-right.png');

      @include respond-to('medium') {
        display: none;
      }
    }

  }
  &__subtitle {
    font-family: 'AvantGardeGothicC-Bold', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    color: #000000;
    margin-bottom: 8px;
  }


  &__desc,
  &__skill {
    font-family: 'AvantGardeGothicC', sans-serif;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
  }

  &__img {
    position: -webkit-sticky;
    position: sticky;

    top: 0;
    left: 0;

    padding-top: 55px; 
    @include respond-to('medium') {
      padding-top: 50px;  
    }  
    &:hover {
      #{$self} {
        &__head {
          transform: scale(.9) rotate(-25deg);   
          @include respond-to('medium') {
            transform: scale(1) rotate(-15deg);
          }    
          @include respond-to('small') {
            left: 50%;
            transform: scale(1) rotate(-15deg) translateX(-50%);
          }    
        }
        &__body {
          transform: rotate(25deg);
          @include respond-to('medium') {
            transform: rotate(15deg);
          } 
        }        
      }      
    }
  }

  &__head {
    position: absolute;
    z-index: 5;
    top: 0;
    transition: all .3s ease;
  }

  &__body {
    transition: all .3s ease;
  }

  &__one {    
    #{$self} {
      &__head {
        left: 70px;
        @include respond-to('medium') {
          left: 95px;
          max-width: 100px;
        }
        @include respond-to('small') {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      
    }
  }

  &__two {    
    #{$self} {
      &__head {
        left: 50px;
        @include respond-to('medium') {
          left: 60px;
          max-width: 200px;
        }
        @include respond-to('small') {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &:hover {
      #{$self} {
        &__head {
          transform: scale(.9) rotate(-20deg); 
          @include respond-to('small') {
            transform: scale(1) rotate(-15deg) translateX(-50%);
          } 
        }
        &__body {
          transform: rotate(10deg);
        }
      }
    }  
  }
  &__tree {    
    #{$self} {
      &__head {
        top: -15px;
        left: 55px;
        @include respond-to('medium') {
          left: 60px;
          max-width: 200px;
        }
        @include respond-to('small') {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &:hover {
      #{$self} {
        top: 10px;
        &__head {
          transform: scale(.9) rotate(-15deg); 
          @include respond-to('small') {
            transform: scale(1) rotate(-15deg) translateX(-50%);
          } 
        }
        &__body {
          transform: rotate(10deg);
        }
        
      }
    }  
  }


  &__video {
    margin-top: 30px;
  }

  &__partner {
    margin-top: 15px;
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    @include respond-to('large') {
      flex-direction: column-reverse;
    }
  }

  &__small {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #000000;   
  }
  &__social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50%;
    @include respond-to('large') {
      width: 100%;
      justify-content: center;
      margin-bottom: 40px;
    }
    .social {      
      &__list {
        margin-left: 12px;
        @include respond-to('large') {
          width: auto;
        }
        @include respond-to('retina') {
          margin: 10px 0 0 0;
          width: 100%;
        }
      }
      &__item {
        margin-right: 8px;
        &:last-child {
          margin: 0;
        }
        @include respond-to('xsmall') {
          margin: 0 8px 0 0;
        }
      }
      &__link {
        width: 34px;
        height: 34px;
        border-radius: 5px;
        border: 1px solid #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;

        &:hover {
          opacity: 0.6;
        }
      }
    }

  }

  &__seminar {
    outline: none;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    font-family: 'AvantGardeGothicC-Bold', sans-serif;
    padding: 7px 0;
    &:hover {
      &::before {
        top: -10px;
        transform: rotate(5deg);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -35px;
      width: 214px;
      height: 55px;
      background-image: url('../images/team/oval.png');
      z-index: -1;
      transition: all .3s ease;
    }

    
  }


  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 280px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    position: relative;
    box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.15);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
    @include respond-to('small') {
      min-height: 200px;
    }
    @include respond-to('retina') {
      min-height: 160px;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      border-radius: 15px;
      left: 0;
      top: 0;
      background-color: rgba($color: #000000, $alpha: .15);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .5s ease;
    }
  }

  &__play {
    width: 44px;
    height: 54px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../images/team/play.svg');
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;

    }
  }

  &__gallery {
    margin-top: 30px;
    // @include respond-to('xsmall') {
    //   margin-top: 30px;
    // }
  }
}

.partner {
  display: flex;
  justify-content: space-between;
  &__img {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    min-height: 67px;
    padding: 5px 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  // &__item { }
  @include respond-to('xsmall') {
    grid-template-columns: repeat(1, 1fr);
  }
  &__link {
    min-height: 160px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    @include respond-to('retina') {
      min-height: 130px;
    }
  }

  &__title {
    font-size: 12px;
    line-height: 140%;
    color: #000000;
    font-family: 'AvantGardeGothicC', sans-serif;
    margin-top: 18px;
  }
}

.lg-backdrop.in {
  opacity: 0.6;
}
