*
{
    box-sizing: border-box;
    animation-fill-mode: both;
}

html,
body
{
    font-family: 'AvantGardeGothicC', sans-serif;
    font-size: 16px;

    @include respond-from(FHD)
    {
        font-size: 24px;
    };
    @include respond-from(QHD)
    {
        font-size: 32px;
    };
    @include respond-from(UHD)
    {
        font-size: 48px;
    };
}

img,
.icon
{
    display: inline-block;

    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

.socals
{
    display: block;

    text-align: center;

    &.vertical
    {
        flex-direction: column;
    }
    
    @include respond-to('small')
    {
        display: flex;
        justify-content: space-around;
    }

    &__item
    {
        display: inline-block;

        margin: 2rem 1rem;

        transition: transform .4s;

        &:hover
        {
            transform: scale(1.4);
        }

        .socals.vertical &
        {
            display: block;
            margin: 2rem 0.5rem;
        }

        .icon
        {
            font-size: 1rem;
        }
    }
}

.lang
{
    font-family: 'AvantGardeGothicC-bold';

    color: #ccc;
    a
    {
        text-decoration: none;

        color: #000;
    }
}

.back-to-office
{
    font-family: AvantGardeGothicC-Bold;
    font-size: .9rem;
    line-height: 2.2em;

    display: inline-block;

    padding-bottom: 1em;

    text-decoration: none;

    color: #000;
    border-bottom: .15em solid #000;
}
