.footer {
  padding: 17px 40px 30px; 
  background-color: #302E2E;
  position: relative;
  z-index: 50;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../images/footer-bg.png');
    width: 205px;
    height: 102px;
    @include respond-to('small') {
      display: none;
    }
  }
  @include respond-to('medium') {
    padding: 30px;
  }
  &__line {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    @include respond-to('small') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    @include respond-to('large') {
      flex-wrap: wrap;      
    }
    @include respond-to('small') {
      flex-wrap: wrap;
    }
  }


  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 80px;
    
    @include respond-to('small') {
      width: 100%;
      order: 1;
      margin: 20px 0 0 0;
      justify-content: center;
    }
    @include respond-to('xsmall') {
      margin-top: 30px;
      justify-content: flex-start;
      flex-wrap: wrap;
      justify-content: center;
      // overflow-x: auto;
      // white-space: nowrap;
    }
  }

  &__item {
    margin-right: 34px;

    @include respond-to('medium') {
      margin-right: 20px;
    }
    @include respond-to('xsmall') {
      margin: 0 10px 10px 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-weight: bold;
    font-size: 13.9969px;
    line-height: 1;
    color: #F7F7F7;
    font-family: 'AvantGardeGothicC', sans-serif;
    outline: none;
    text-decoration: none;
    transition: all .5s ease ;
    display: flex;
    position: relative;
    
    &:hover {
      color: #EAFF5B;
      // &::before {
      //   transform: scaleX(1);
      // }
    }

    // &::before {
    //   position: absolute;
    //   z-index: -1;
    //   top: 0;
    //   left: -10%;
    //   width: 120%;
    //   height: 100%;
    //   content: '';
    //   transition: transform 0.5s, -webkit-transform 0.5s;
    //   background-image: url("../images/markers/marker-1.png");
    //   background-position: center center;
    //   background-size: 100% 100%;
    //   transform: scaleX(0);
    // }
  }

  &__contact {
    text-align: right;
  }
  &__txt {
    font-size: 13.9969px;
    line-height: 1;
    color: #000000;
    font-family: 'AvantGardeGothicC', sans-serif;    
  }

  &__email {
    font-size: 13.9969px;
    line-height: 1;
    color: #000000;
    font-family: 'AvantGardeGothicC', sans-serif;
    opacity: .6;
    outline: none;
    text-decoration: none;
    transition: all .5s ease ;
    &:hover {
      outline: none;
      text-decoration: none;
      opacity: 1;
    }

    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
      opacity: .6;
      color: #000000;
    }
  }

  &__logo {    
    display: flex;
    max-width: 133px;
    width: 100%;
  }
}

.develop {
  position: relative;
  @include respond-to('small') {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  &__text {    
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'AvantGardeGothicC-Bold';
    letter-spacing: 2px;
    font-size: 14px;
    color: #ffffff;
    z-index: 4;
    border-radius: 6px; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    small {
      font-size: 12px;
      font-weight: normal;
      font-family: 'AvantGardeGothicC';
      letter-spacing: 0;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url('../images/dev-bg.png');
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  &__link {
    position: relative;
    border-radius: 6px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 38.25px;
    font-weight: 900;    
    overflow: hidden;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      border-radius: 6px; 
    }

    &::after {
      border-radius: 6px; 
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(269.38deg, #FFC700 2.37%, #AD00FF 52.5%, #6AF6FF 102.72%);
      z-index: 1;
    }
  }
}


.copyright {
  font-size: 12px;
  line-height: 1;
  color: #F7F7F7;
  opacity: 0.6;
  @include respond-to('large') {
    order: 1;    
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}