.header
{
    position: relative;

    display: flex;

    height: 6rem;
    margin: auto;
    padding: 0 2rem;

    transition: opacity .5s, height .3s;

    align-items: center;
    justify-content: space-between;
    @include respond-from(small)
    {
        justify-content: flex-start;
    }

    .onscroll &
    {
        height: 4.5rem;

        border-bottom: 1px solid #000;
        background: rgba(255, 255, 255, .9);
    }


    &__menu-btn
    {
        @include respond-from(small)
        {
            display: none;
        }
    }

    &__logo
    {
        transition: transform .3s;

        @include respond-from(small)
        {
            padding-top: 1rem;
            padding-right: 1rem;

            flex: 0 0 15%;
            img
            {
                height: 4rem;

                transition: all .3s;

                .onscroll &
                {
                    height: 3rem;
                }
            }
        }

        img
        {
            height: 3.5rem;
        }

        .onscroll &
        {
            padding-top: 0;

            img
            {
                width: auto;
            }
        }
    }

    .onscroll &:not(.empty-title) &__logo
    {
        @include respond-to(small)
        {
            transform: translateY(-5rem);
        };
    }

    &__nav
    {
        display: none;

        @include respond-from(small)
        {
            display: block;
        }
        ul
        {
            display: flex;
            margin: 0;
            padding: 0;

            list-style: none;

            justify-content: space-between;

            li
            {
                padding-left: 4rem;
                &:first-child
                {
                    padding-left: 0;
                }
            }
        }
    }

    &__link
    {
        font-family: 'AvantGardeGothicC-Bold';
        font-size: .9rem;

        text-decoration: none;

        color: #000;
    }

    &__page-title
    {
        font-family: 'AvantGardeGothicC-Bold';
        font-size: .9rem;

        position: absolute;
        left: 50%;

        display: inline-block;

        max-width: 12rem;
        margin-left: -6rem;

        transition: transform .3s;
        transform: translateX(-7rem) scale(0);
        transform-origin: left center;
        text-align: center;
        text-decoration: none;

        color: #000;
        background: url(../images/markers/marker-1.png);
        background-size: 100% 100%;

        @include respond-to(small)
        {
            width: 12rem;

            transform: translateY(5rem);
            text-align: center;
        }
        @include respond-from(small)
        {
            position: relative;
            left: 0;

            margin-left: 7rem;

            text-align: left;
            // padding-left: 7rem !important;

            &::before
            {
                position: absolute;
                top: 50%;
                left: 1rem;

                display: inline-block;

                width: 5rem;
                height: 2px;
                margin-top: -2px;

                content: '';
                transform: translate(-7rem);
                vertical-align: middle;

                background: #000;
            }
        }

        &:empty
        {
            display: none;
        }

        .onscroll:not(.empty-title) &
        {
            transform: translateX(0) scale(1);

            background-size: 100%;

            @include respond-to(small)
            {
                transform: translateY(0);
            }
        }
    }

    &__callback-link
    {
        position: absolute;
        right: 2rem;

        display: none;

        text-align: right;

        @include respond-from(small)
        {
            display: block;
        }
    }

    &__icons
    {
        font-size: 1rem;
        line-height: 2rem;

        overflow: hidden;

        height: 2rem;

        @include respond-from(small)
        {
            display: none;
        }

        a
        {
            text-decoration: none;
        }

        &__wrap
        {
            display: flex;
            flex-direction: column;

            transition: transform .5s ease;
            transform: translateY(-4rem);

            justify-content: flex-start;
            align-items: flex-end;

             > *
            {
                line-height: 2rem;

                display: block;

                height: 2rem;

                transition: transform .5s ease;
            }

            .homepage--ready &
            {
                transform: translateX(-2rem);

                opacity: 0;
            }

            .homepage--cases &
            {
                transform: translateY(-4rem);
            }

            .onscroll &
            {
                transform: translateY(-6rem);
            }

            .menu--open &
            {
                transform: translateY(-2rem) !important;
                 > *
                {
                    transform: rotate(360deg);
                }
            }
        }

        &_mixed
        {
            order: 0;
        }

        &_lang
        {
            opacity: 0;
            order: 1;
        }

        &_back
        {
            order: 2;
        }

        &_go-back
        {
            order: 3;
        }
    }
}
