.layout
{
    overflow: hidden;

    max-width: 100vw;
    padding: 0 2rem;

    transition: opacity 2s;

    opacity: 1;

    .loading &
    {
        opacity: 0;
    }

    &__wrapper
    {
        position: relative;

        display: flex;

        max-width: 80rem;
        min-height: 99vh;
        margin: auto;

        border-right: 1px solid #eee;
        border-left: 1px solid #eee;

        @include respond-from(small)
        {
            border: none;
            background: url('../images/body-bg.svg') repeat-y;
            background-position: center top;
            background-size: 100% 1px;
        }
        @include respond-from(small)
        {
            border: none;
        }
    }

    &__header
    {
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;

        overflow: hidden;

        width: 100%;
        .hidefixed &
        {
            display: none;
        }
    }

    &__menu
    {
        position: fixed;
        top: 0;
        left: -100%;

        overflow: scroll;

        width: 100%;
        height: 100vh;
        padding: 0 2rem;
        padding-top: 5rem;

        transition: transform .5s ease;
        .hidefixed &
        {
            display: none;
        }

        .menu--open &
        {
            z-index: 100;
        }
    }

    &__body
    {
        position: relative;

        display: flex;

        width: 100%;
        padding-top: 5rem;
        padding-bottom: 5rem;

        transition: transform .5s ease;
        animation: fadeIn 1s;

        align-self: center;
        justify-content: space-between;
        animation-fill-mode: both;

        .menu--open &
        {
            animation-name: fadeOut;
        }
    }

    &__container
    {
        max-width: 100%;
        height: 100%;
        margin: auto;

        @include respond-from(small)
        {
            width: 66.66666666%;
            max-width: 53.375rem;
        }
    }

    &__side
    {
        display: flex;
        flex-direction: column;

        padding: 2rem;
        padding-top: 8rem;

        text-shadow: 0 0 2rem rgba(255, 255, 255, .5);

        justify-content: space-between;
        align-items: flex-start;
        @include respond-to(small)
        {
            display: none;
        }

        .rotate
        {
            transform: rotate(180deg);

            writing-mode: vertical-rl;
        }

        &_left,
        &_right
        {
            position: fixed;
            top: 0;

            width: 10%;
            height: 100%;
            .hidefixed &
            {
                display: none;
            }
        }

        &_left
        {
            left: 0;

            align-items: flex-start;
        }

        &_right
        {
            right: 0;

            align-items: flex-end;
        }
    }


    &__footer
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        opacity: 1;
    }

    &__crby
    {
        display: block;

        padding: 1.5rem 5rem;

        text-align: center;

        border-top: 1px solid #eee;
        background: #fff;
        img
        {
            max-height: 2rem;
        }
    }
}

.menu--open
{
    overflow: hidden;
    &,
    & body
    {
        overflow-y: hidden !important;
    }

    .layout__body,
    .layout__menu
    {
        transform: translateX(100%);
    }
}
