.social {
  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include respond-to('small') {
      width: 100%;
      justify-content: center;
    }

    @include respond-to('xsmall') {
      flex-wrap: wrap;
      justify-content: center;
    }

    
  }
  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
    @include respond-to('xsmall') {
      margin: 0 10px 10px 10px;
    }
  }
  &__link {
    font-family: 'AvantGardeGothicC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11.1975px;
    line-height: 1;
    color: #F7F7F7;
    opacity: 0.6;
    outline: none;
    text-decoration: none;
    display: flex;
    transition: all .5s ease ;
    &:hover {
      outline: none;
      text-decoration: none;
      color: #EAFF5B;
      opacity: 1;
    }

    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
      color: #F7F7F7;
      opacity: 0.6;
    }
  }
}