pre
{
    font-family: monospace;

    display: block;
    overflow: auto;
    padding: 1em;

    max-width: 100%;

    background-color: #eee;
}

code
{
    font-family: monospace;

    overflow: auto;

    max-width: 100%;

    color: #fd8008;
    background-color: #eee;
}

p
{
    line-height: (24/16);
}


h1,
.h1
{
    font-family: 'AvantGardeGothicC-Bold';
    font-size: 3.5em;
    line-height: 100%;

    color: #000;

    @include respond-to(small)
    {
        font-size: 2.5em;
    }
}

h2,
.h2,
.title
{
    font-family: 'AvantGardeGothicC-Bold';
    font-size: 2.875rem;
    font-weight: 400;

    color: #000;

    line-height: 1;
    margin: 0;

    margin-block-end: 0;

    @include respond-to(medium)
    {
        font-size: 2.375rem;
    }


    @include respond-to(small)
    {
        font-size: 1.5rem;
    }


}

h3,
.h3,
.subtitle
{
    font-family: 'AvantGardeGothicC-Bold';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: (28/24);

    color: #000;

    margin-block-end: 0;

    @include respond-to(small)
    {
        font-size: 1.125rem;
    }
}

button,
.btn
{
    font-family: 'AvantGardeGothicC-Bold';

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    cursor: pointer;
    transition: border .5s;
    text-decoration: none;

    color: #000;
    border: none;
    border-bottom: .1em dashed;
    background: none;

    &:hover
    {
        border-bottom-style: solid;
    }


     > .icon
    {
        position: absolute;
        top: 50%;
        left: -2rem;

        display: inline-block;

        transform: translateY(-50%);

        border-bottom: none;
    }
}

article a, .link
{
    text-decoration: none;

    color: inherit;
    border-bottom: .1em dashed;

    &:hover
    {
        border-bottom-style: solid;
    }
}


.line
{
    display: inline-block;

    width: 5rem;
    height: 1px;
    margin: .3em 1em .3em 1em;

    border: 1px solid;
}

.separator
{
    position: relative;

    display: inline-block;

    height: 2em;
    margin: 0 1em;
    margin-bottom: -.6em;

    border: 1px solid;

    .rotate &
    {
        transform: rotate(90deg);
    }
}
